includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    treatPhpDocTypesAsCertain: true

    paths:
        - app

    # The level 8 is the highest level
    level: 5

    ignoreErrors:
        -
            message: '#Variable \$router might not be defined.#'
            path: routes/api.php
#        - '#Unsafe usage of new static#'
#        - '#Call to an undefined method Illuminate\\Support\\HigherOrder#'
#        - '#Attribute class JetBrains\\PhpStorm\\ArrayShape does not exist.#'
    excludePaths:

    checkMissingIterableValueType: false
