includes:
    - ./vendor/larastan/larastan/extension.neon
    - ./vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    treatPhpDocTypesAsCertain: true

    strictRules:
        strictCalls: false
        booleansInConditions: false

    paths:
        - app
        - config
        - database
        - routes
        - tests

    level: 8

    ignoreErrors:
        -
            message: '#Variable \$router might not be defined.#'
            path: routes/api.php
        - '#PHPDoc tag @mixin contains unknown class App\\Models#'
        -
            identifier: missingType.iterableValue
    excludePaths:

    checkBenevolentUnionTypes: true
    checkUninitializedProperties: true
