{
	# Enable FrankenPHP
	frankenphp
	# Configure when the directive must be executed
	order php_server before file_server
	local_certs
}

laravel-starter.localhost {
	root * /var/www/html/public
	php_server
}

mailhog.test.localhost {
	reverse_proxy mailhog:8025
}
